/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,600&display=swap");

/* RESET DEFAULT STYLE */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: "Fira Sans", serif;
  background-color: rgba(14, 14, 14, 0.15);
}

/* SHARED STYLE */
.section-title {
  color: #0e0e0e;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 15px;
  font-weight: 700;
  margin: 8px 0;
}
.description {
  color: rgba(14, 14, 14, 0.7);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.btn {
  color: #ffffff;
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 12px;
  font-weight: 600;
  font-family: "Fira Sans", serif;
}

/********* HEADER AREA STYLE *********/
.header {
  width: 976px;
  margin: 0 auto;
}

/* NAVIGATION AREA STYLE */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}
.navigation .logo {
  color: #0e0e0e;
  font-size: 24px;
  font-weight: 700;
}
.navigation ul li a {
  font-size: 14px;
  font-weight: 600;
  color: #006150;
  text-decoration: none;
  padding: 11px 22px;
  border: 1px solid #006a50;
  border-radius: 5px;
  transition: all 0.3s;
}
.navigation li a:hover {
  background-color: #006a50;
  color: #ffffff;
}
/* NAVIGATION STYLE END */

/* HERO SECTION STYLE */
.hero-section {
  border-radius: 18px;
  background-color: rgb(198, 228, 214);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 45px;
  margin-top: 16px;
}
.hero-section .hero-content .hero-subtitle {
  color: rgba(14, 14, 14, 0.5);
  font-size: 18px;
  font-weight: 500;
}
.hero-section .hero-content .hero-title {
  color: rgb(14, 14, 14);
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  margin: 15px 0;
}
.hero-section .hero-content .btn {
  border-radius: 5px;
  background-color: rgb(0, 106, 80);
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.4s;
}
.hero-section .btn:hover {
  background-color: #033f34;
}
.hero-section img {
  width: 360px;
}
/******* HEADER AREA STYLE END *******/

/* MAIN AREA ARYLE */
main {
  width: 976px;
  margin: 0 auto;
}
main section {
  margin-top: 60px;
}

/* PILLAR OF BANGLADESH SECTION STYLE */
.pillar .card img {
  width: 45px;
  height: 45px;
  border-radius: 3px;
}
.pillar .card div {
  width: 230px;
  height: 185px;
  padding: 18px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 12px;
  background: #ffffff;
}
.pillar .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* PILLAR OF BANGLADESH SECTION STYLE END */

/* VISION OF BANGLADESH STYLE */
.vision .card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.vision .card-container .card {
  flex-basis: 32%;
  height: 250px;
  padding: 24px;
  border-radius: 12px;
  transition: all 0.3s;
}
.vision .card:hover {
  box-shadow: 2px 3px 40px rgba(0, 0, 0, 0.3);
}
.vision .card-container img {
  width: 45px;
  height: 45px;
  border-radius: 3px;
}
.vision .card-container .card-1 {
  background-color: rgba(84, 144, 245, 0.2);
}
.vision .card-container .card-2 {
  background-color: #c6e4d6;
}
.vision .card-container .card-3 {
  background-color: #f7ebcf;
}
.vision .btn-1 {
  background-color: #5490f5;
  margin-top: 25px;
}
.vision .btn-1:hover {
  background-color: #3574e2;
}
.vision .btn-2 {
  background-color: #09a15c;
  margin-top: 44px;
}
.vision .btn-2:hover {
  background-color: #087544;
}
.vision .btn-3 {
  background-color: #ffc239;
  margin-top: 26px;
}
.vision .btn-3:hover {
  background-color: #eba605;
}
.vision .chief-adviser-speech {
  background: #ffffff;
  background-image: url(./assets/quote-bg.png);
  background-size: 50px 60px;
  background-position: 20px 15px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 36px 18px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 12px;
  margin-top: 20px;
}
.vision .chief-adviser-speech blockquote,
p {
  color: rgba(14, 14, 14, 0.8);
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.vision .chief-adviser-speech h4 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 15px;
  font-weight: 600;
  margin-top: 14px;
}
.vision .chief-adviser-speech p {
  opacity: 0.7;
}
/* VISION OF BANGLADESH STYLE END */

/* OPINION */
.opinion .opinion-container {
  background: #ffffff;
  border-radius: 12px;
  padding: 24px;
}
.opinion .question-container .heading {
  padding: 18px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(198, 228, 214);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.opinion .question-container .heading h4 {
  color: rgb(14, 14, 14);
  font-size: 15px;
  font-weight: 600;
}
.opinion .question-container .question {
  padding: 18px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.opinion .question-container .question select {
  padding: 6px 10px;
  border: 1px solid rgb(14, 14, 14);
  outline: none;
  border-radius: 3px;
  background: rgb(198, 228, 214);
}
.opinion .question-container .question p {
  color: rgb(14, 14, 14);
  font-size: 12px;
  font-weight: 600;
}
.opinion .question-container .question option {
  color: rgb(14, 14, 14);
  font-size: 12px;
  font-weight: 500;
}
/* OPINION SECTION END */

/* NEWS SECTION STYLE */
.news .row {
  background: #ffffff;
  margin: 18px 0;
  padding: 36px;
  border-radius: 18px;
}
.news .row .column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.news .column img {
  width: 310px;
  height: 232px;
  border-radius: 18px;
}
.news .column .content h3 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
.news .column .content img {
  width: 100px;
  height: 30px;
}
.news .column span {
  color: rgba(14, 14, 14, 0.7);
  font-size: 12px;
  font-weight: 400;
}
.news .column .date-time {
  margin: 8px 0;
}
.news .column .btn {
  background-color: #006a50;
  margin-top: 22px;
  transition: all 0.3s;
}
.news .column .btn:hover {
  background: #024937;
}
/* NEWS SECTION STYLE END */

/*** DONATION SECTION STYLE ***/
.donation {
  text-align: center;
  padding: 0 20px;
}
.donation .amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  margin: 20px 0;
}
.donation .amount div {
  border: 1px solid rgba(14, 14, 14, 0.15);
  background-color: #ffffff;
  border-radius: 12px;
  cursor: pointer;
  padding: 30px 40px;
  transition: all 0.3s;
}
.donation .amount div:hover {
  background-color: rgb(198, 228, 214);
}
.donation .amount span {
  color: rgba(14, 14, 14, 0.8);
  font-size: 30px;
  font-weight: 700;
}
.donation input {
  width: 91%;
  padding: 15px 30px;
  border: none;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  outline: none;
  border-radius: 4px;
}
.donation input::placeholder {
  color: rgba(14, 14, 14, 0.3);
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
.donation .btn {
  background: #006a50;
  padding: 12px 25px;
  margin-top: 15px;
  transition: 0.3s;
}
.donation .btn:hover {
  background: #024937;
}
/* DONATION SECTION STYLE END */

/* NEWSLETTER SUBSCRIBE SECTION STYLE */
.newsletter {
  background: rgb(198, 228, 214);
  border-radius: 18px;
  padding: 60px 80px;
  text-align: center;
}
.newsletter input {
  border-radius: 5px 0px 0px 5px;
  background: rgb(255, 255, 255);
  padding: 14px 30px;
  border: none;
  outline: none;
  margin: 14px 0;
  width: 450px;
}
.newsletter .btn {
  background-color: rgb(0, 106, 80);
  border-radius: 0px 5px 5px 0px;
  padding: 14px 25px;
  margin-left: -4px;
  border: none;
  transition: all 0.3s;
}
.newsletter .btn:hover {
  background: #024937;
}
/* NEWSLETTER SECTION STYLE END */
/* MAIN SECTION STYLE END */

/* FOOTER SECTION */
footer {
  margin-top: 60px;
  background: #fff;
  text-align: center;
  padding: 30px 120px;
}
footer .footer-title {
  color: rgb(14, 14, 14);
  font-size: 24px;
  font-weight: 700;
  border-bottom: 1px solid rgba(14, 14, 14, 0.1);
  margin-bottom: 20px;
  padding-bottom: 20px;
}
footer a {
  text-decoration: none;
  margin: 0 14px;
  font-size: 16px;
}
/* FOOTER SECTION STYLE END */